<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/css/style.css">
    <!-- linkeando icono de lupa -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>Amazing Events - Past Events</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body  >
    <header>
        <h1>Migrando a Vue.js</h1>
    </header>
    <main id="app">
        <div class="main-check">
            <div class="check" id="check">
                <template v-for="categoria in categorias">
                    <div class="check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineRadio1" :value="categoria" v-on:change="filtrar" v-model="checked">
                        <label class="form-check-label" for="inlineRadio1">{{categoria}}</label>
                       
                    </div>
                </template>
            </div>
            <form class="d-flex justify-content-end" role="search">
                <input class="form-control me-2" type="text" placeholder="Search" aria-label="Search" id="inputSearch" v-model="inputSearch" @keyup="filtrar">
                <button class="btn btn-dark " type="button"  ><span  class="color-text material-symbols-outlined">
                        search
                    </span></button>
            </form>
        </div>

        <div class="cards d-flex flex-wrap gap-3 justify-content-evenly m-5" id="cards">
            <template v-for="objeto of miObjetoFiltrado">
                <div  class="card card-border">
                    <img :src="objeto.image"  class="card-img-top" v-bind:alt="objeto.name">
                    <div id="card-center">
                        <h5 class="card-title">{{objeto.name}}</h5>
                        <p class="card-text">{{objeto.description}}</p>
                    </div>
                    <div class="d-flex justify-content-evenly" id="card-footer">
                        <p class="d-inline-block card-text">Price: ${{objeto.price}}</p>
                        <a href="#" class="btn btn-dark color-text card-link">Details</a>
                    </div>
                </div>
            </template>
            <template v-if="inputSearch != 0 && miObjetoFiltrado.length == 0">
                <div  class="card card-no-existe card-border">
                    <div id="card-center">
                        <h5 class="card-title">{{inputSearch}} NO EXISTE</h5>
                        <p class="card-text">Su búsqueda no coincide con ningún evento</p>
                    </div>
                </div>
            </template>
        </div>
    </main>

    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
    <!-- Vue -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- JavaScript  -->
    <script src="./assets/js/uncomingEvents.js"></script>
</body>
</html>