* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.color-text {
    color: #d90368 !important;
}

body {
    height: 100vh;
}

header {
    min-height: 20vh;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 70vh;
}

footer {
    min-height: 10vh;
}

.footer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 1em;
}

footer svg {
    width: 50px;

}

.navbar .navbar-toggler-icon {
    background-image: url(../img/burguer.png);
    width: 2.5em;
    height: 2.5em;
}

/* Estílo de icono Lupa */
.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

/* Personalizando Cards */
.card {
    border-radius: 10% !important;
    width: 18rem;
    height: 425px;
}

.card-border{
    border: 2px solid #d90368;
    box-shadow: 5px 5px #ed60a2;
}

.my-card-detail {
    height: max-content;
    border-radius: 1.5em;
}

.card-img-top {
    border-top-right-radius: 1.5em !important;
    border-top-left-radius: 1.5em !important;
    height: 45%;
}
/* Personalizando Cards End*/

#card-center {
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    height: 40%;
}

#card-footer {
    height: 15%;
    margin-bottom: 1em;
    align-items: center;
    text-align: center;
}

#card-footer .btn {
    height: 2.5em;
}

.card-no-existe{
    height: 300px!important;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0 5px;
}

.img-details {
    border-top-left-radius: 1.5em !important;
    border-bottom-left-radius: 1.5em;
    max-width: 100%;
    height: 100%;
}

.stats-main {
    width: 80%;
    margin: auto;
}

.stats-main td {
    height: 2rem;
}

.contact-main form {
    width: 450px;
}

.main-check {
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 1.5em;
    display: flex;
    flex-wrap: wrap;
    row-gap: 0.7em;
    justify-content: center;
    align-items: center;
}

.check{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.check-inline{
    display: inline-block;
    margin-right: 1.5em;
    margin: 0.25em 1.5em 0.25em 0;
}

#details-card{
    max-width: 600px ;
    min-width: 600px;
}

#details-card .black{
    font-weight: bolder;
}

@media only screen and (min-width: 1139px) {
    .main-check{
        width: 100%;
        justify-content: space-between;
    }
}

@media only screen and (min-width: 1312px) {
    .cards {
        width: 80%;
        margin: auto;
    }
}

@media only screen and (min-width: 1440px) {
    .stats-main {
        width: 60%;
        margin: auto;
    }
    .main-check {
        padding-left: 10%;
        padding-right: 10%;
    }
}

@media only screen and (min-width: 1517px) {
    .cards {
        width: 70%;
    }
}

@media only screen and (min-width: 1732px) {
    .cards {
        width: 65%;
    }
    .main-check {
        padding-left: 15%;
        padding-right: 15%;
    }
}

@media only screen and (min-width: 1868px) {
    .cards {
        width: 60%;
    }
}

@media only screen and (min-width: 418px) {
    .footer {
        justify-content: space-between;
    }
}

@media only screen and (max-width: 798px) {
    .cards {
        margin: 0;
    }
    
    

}

@media only screen and (max-width: 620px){
    #details-card{
        min-width: 0;
        width: 75% ;
        flex-direction: column!important;
        margin: 2em 0;
    }
    #card-txt-details, #card-img-details{
        width: 100%!important;
    }
    #card-txt-details{
        padding: 1em!important;
    }
    .img-details {
        border-bottom-left-radius: 0!important;
        border-top-right-radius: 1.5em;
    }
    .card-body{
        display: flex;
        flex-direction: column;
    }
}


@media only screen and (max-width: 470px) {
    .contact-main form{
        width: 95%;
    }
}

@media only screen and (max-width: 354px) {

    .navbar .navbar-toggler-icon {
        width: 2em;
        height: 2em;
    }

    header nav button {
        margin: auto !important;
    }
}